<article class="uk-article uk-card uk-card-default uk-card-body uk-animation-toggle uk-animation-fade uk-margin-large-top">
    <h1 class="uk-article-title"><a class="uk-link-reset" href=""><b>Tugas Akhir Teknologi Web Lanjut</b></a></h1>
    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <table>
            <tr>
                <td>Dosen</td>
                <td>:</td>
                <td>Farid Suryanto, S.Pd., MT.</td>
            </tr>
            <tr>
                <td>Pembuat</td>
                <td>:</td>
                <td>Harry Juliansy Fikri Semendawai</td>
            </tr>
            <tr>
                <td>Nim</td>
                <td>:</td>
                <td>1800016143</td>
            </tr>
            <tr>
                <td>Framework</td>
                <td>:</td>
                <td>Angular</td>
            </tr>
        </table>
    </div>
</article>
<router-outlet></router-outlet>
